/* */
.village-background {
  width : 100%;
  height: 100%;
  position: relative;
}
.village-background::after{
  content: "";
  background-color: #ffffff;
  background-image: url(../images/bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.5;
  top:0;
  right:0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}
.village-container {
  max-width: 980px;
  margin: 0 auto;
  overflow: hidden;
  background: #DCE35B; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #DCE35B , #45B649); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #DCE35B , #45B649); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: -1px 6px 17px 1px rgba(69,182,73,0.56);
  -moz-box-shadow: -1px 6px 17px 1px rgba(69,182,73,0.56);
  box-shadow: -1px 6px 17px 1px rgba(69,182,73,0.56);
}

.row{
  max-width: 980px;
}

/* Custom nav bar */
.navbar-custom {
  background: transparent;
  color:#ffffff;
  border-radius:0;
  border: none;
  margin: 0;
  -webkit-box-shadow: -1px 6px 17px 2px rgba(69,182,73,0.56);
  -moz-box-shadow: -1px 6px 17px 2px rgba(69,182,73,0.56);
  box-shadow: -1px 6px 17px 2px rgba(69,182,73,0.56);
}
  
.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a {
  color: #ffffff;
  background-color:transparent;
}

.navbar-custom .navbar-nav > li >.dropdown-menu{
  background-color:#229922;
  color:#ffffff;
}
  
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a:hover,
.navbar-custom .navbar-nav > .open >a:focus,
.navbar-custom .navbar-nav > .open >a,
.navbar-custom .navbar-nav > li >.dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav > li >.dropdown-menu > li > a:focus {
    text-decoration: none;
    background-color: #33aa33;
}
     
.navbar-custom .navbar-brand {
    color:#eeeeee;
    font-size: 32px;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#33aa33;
}

/* Home Page Carousel */

header.carousel {
    /* height: 70%;  This was the default one */
    height: 300px;
    padding: 15px;
}
header.carousel .carousel-inner{
  -webkit-box-shadow: -1px 6px 17px 1px rgba(69,182,73,0.56);
  -moz-box-shadow: -1px 6px 17px 1px rgba(69,182,73,0.56);
  box-shadow: -1px 6px 17px 1px rgba(69,182,73,0.56);
}
header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* Page and Panel Custom Styles*/
.page-header-custom {
  border: none;
  margin: 15px 0 10px;
  color: #fff;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
}

.panel-custom .panel-body{
  background: #A1FFCE;
  background: -webkit-linear-gradient(to left, #c , #FAFFD1);
  background: linear-gradient(to left, #A1FFCE , #FAFFD1);
  -webkit-box-shadow: -1px 6px 23px 1px rgba(4,77,6,1);
  -moz-box-shadow: -1px 6px 23px 1px rgba(4,77,6,1);
  box-shadow: -1px 6px 23px 1px rgba(4,77,6,1);
}
.panel-custom .panel-body img{
  max-width: 100%;
}

/* button */
.btn-default {
  color: #fff;
  background-color: #229922;
  border-color: #229922;
}
.btn-default:focus,
.btn-default.focus {
  color: #fff;
  background-color: #229922;
  border-color: #229922;
}
.btn-default:hover {
  color: #fff;
  background-color: #229922;
  border-color: #229922;
}

.thumbnail-custom {
  margin-bottom: 0;
  border: none;
}
.thumbnail-custom img {
  border-radius: 5px;
  margin-top: 10px;
}

/* Footer Styles */

footer {
    color: #fff;
    background: transparent;
    border-color: #229922;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 100%;
    padding: 2px;
    -webkit-box-shadow: -1px 6px 23px 4px rgba(4,77,6,1);
    -moz-box-shadow: -1px 6px 23px 4px rgba(4,77,6,1);
    box-shadow: -1px 6px 23px 4px rgba(4,77,6,1);
}
footer p {
  margin: 0;
}